.space-margin {
  margin-left: 19%;
  margin-right: 19%;
}
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 10px;
  margin-top: 10px;
  line-height: 100px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #000;
  font-family: "Roboto Condensed";
  padding: 0.5px;
}
.card-button {
  width: 42px;
  position: absolute;
  top: -57px;
  font-family: "Roboto Condensed";
  text-size-adjust: auto;
  width: fit-content;
}
.card.product-card {
  & > img {
    object-fit: cover;
    min-height: 150px;
    height: 470px;
  }
  .card-body {
    position: relative;
    align-items: center;

    .price {
      font-family: "Roboto Condensed";
      display: flex;
      margin-bottom: 0;

      & + .price {
        margin-left: 10px;
      }

      &.price.new {
        font-size: 1.125rem;
        font-weight: bold;
      }

      &.price.old {
        font-size: 0.875rem;
        text-decoration: line-through;
      }
    }
  }
}
