@include for-xl() {
  .card-button {
    font-family: "Roboto Condensed";
    width: fit-content;
    font-size: 13px;
  }
}
@include only-tablet {
  .circle {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 15px;
  }
  .card-button {
    font-family: "Roboto Condensed";
    width: fit-content;
    font-size: 13px;
  }
}
@include only-desktop-1024() {
  .circle {
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 14px;
  }
  .card-button {
    font-family: "Roboto Condensed";
    width: fit-content;
    font-size: 12px;
  }
}
