.title {
  margin-top: 6.61rem;
}

.line-one-style {
  font-family: "Raleway";
  font-size: 18.67px;
  font-weight: 200;
}

.line-two-style {
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: 999;
}
.line {
  width: 7.2rem;
  height: 0.2rem;
  margin: 1.5rem auto;
  background-color: #000000;
}
.line-three-style {
  font-family: "Roboto";
  font-size: 21.33px;
  color: #666666;
  font-weight: lighter;
}
